/* Scss Document */
$gold:#C4A674;


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
	font-family: "futura-pt", "sans-serif";
	font-weight: 100;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: fff;
	font-family: "futura-pt", "sans-serif";
	font-weight: 100;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: fff;
	font-family: "futura-pt", "sans-serif";
	font-weight: 100;
}
textarea{
	font-family: "futura-pt", "sans-serif";
	font-weight: 100;
	padding-right: 1rem;
}

body{
	background-color:#000;
	color:#FFF;
	font-family: "futura-pt", "sans-serif";
	font-size:110%;
	font-weight: lighter;
	.migalha{
		font-size:90%;
		a{
		color:$gold;
	}
		}
.container{		
			display:grid;
			width:1200px;
			margin: auto;
	
	@media(max-width: 1200px) {
		width: 100%;
}
	}
	#diagonal1{
		position: relative;
		margin-top: -24rem;
		background-image: url(assets/images/divisao1.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: 2000008;
		width: 100%;
		min-height: 25rem;
		background-position: bottom;
		
			@media(max-width: 800px) {
				display: none
}
	
	}
	
	#diagonal2{
		position: relative;
		margin-top: -13rem;
		background-image: url(assets/images/divisao2.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: 5000000000;
		width: 100%;
		min-height: 14rem;
		background-position: bottom;
}	
	
	
	
	#diagonal3{
		position: relative;
		margin-top: -24rem;
		background-image: url(assets/images/divisao1.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: 5000000000;
		width: 100%;
		min-height: 25rem;
	    background-position: bottom;
					@media(max-width: 800px) {
				display: none
}
	}

	
	a{
		text-decoration:none;
	}
	
	h2{
		font-size: 280%;
		font-weight: 100;
		margin: 0;
		text-transform: uppercase;
		
		.small{
			color:$gold;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			font-size: 90%;
			margin-bottom: -10px;
			text-transform: none;
		}
		
		}
	
	
	
	header{
		height: 130px;
		border-bottom: 5px solid $gold;
		.container{		
			grid-template-columns: 23% 72% 5%;
			
				@media(max-width: 800px) {
					grid-template-columns: 45% 50% 5%;
}
			
			#brand{
				overflow: hidden;
				padding: 1rem;
				img{width:90%; height: auto; margin: auto;
								@media(max-width: 800px) {
		width:70%;
}
				
				}
				h1{margin-left: -2000px;}	
				
			}
			
			#main_menu{
				ul{
					margin:0;
					text-align: center;
					padding: 3rem;
				li{
					list-style:none;
					float:left;
					margin-left: 3rem;
				
					a{
						color:#fff;
						text-decoration: none;
						font-size:120%;
						padding: 3.5rem 0;
						
						
					}	
					a:hover{
						color:$gold;	
						background-image: url(assets/images/hover_main_menu.png);
						background-repeat: repeat-x;
						background-position: bottom;
						
						
						u{
							border-bottom: 5px solid $gold;
						}
						
					}
					
					}	
				}
			}
			
			#language{
				padding: 3rem;
				margin: 0 auto;
		@media(max-width: 800px) {
		width:90%;
}
				
			}
		}
	}

	#slideshow{
		z-index: 1;
	}
	
	#about{
		.container{
			grid-template-columns: 50% 40%;
			padding: 3rem 0 5rem;
			margin-top: -3rem;
			
			
							@media(max-width: 800px) {
		
			grid-template-columns: 100%;

			}
			
			#taca{
				margin-top:-17rem;
				position: relative;
				z-index: 300000000000;
				
	@media(max-width: 800px) {
				display: none
}	
				
				img{
					width:95%;
				}
			}
			
			.calltoaction{
				background-color: $gold;
				padding: 1rem 2rem;
				float:right;
				margin: 1rem 0;
				
				a{
					color:#fff;
				}
			}
		}
	}
	
	

	
	#products{
		background-color:#E4E4E4;
		color:#333;
		
		.container{
			
			padding: 0rem 0 21rem;
			
			
			
			
			.calltoaction{
				background-color:#000;
				padding: 1rem;
				color:#fff;
				margin:2rem auto;
				
				a{
					color:#fff;
				}
			}
			
			.category_products{
				width:1200px;
				display: grid;
				grid-template-columns: 25% 25% 25% 25%;
				margin: auto;
				
		@media(max-width: 1200px) {
         width:100%;
		grid-template-columns: 50% 50%;
			
}
				
				.container{
					padding: 0;
					margin: 0 auto ;
				}
				
				
				figure{
					margin: 1rem 1.5rem;
					
					img{
						width:100%;
						height: auto;
					}
					
					figcaption{
						background-color: $gold;
						padding: 1rem;
						text-transform: uppercase;
						font-size:130%;
						text-decoration: none;
						color:#000;
						text-align: center;
						    margin-top: -4px;
						
						a{
							color:#000;
						}
					}
				}
			}
			
			
		}
		
		
	}
	
	
	
		#wherebuy{
		.container{
			padding: 0rem 15rem 7rem;
			grid-template-columns: 50% 40%;
			
					@media(max-width: 1200px) {
         width:100%;
		grid-template-columns: 100%;
						padding: 0;
}
			
			a{
				font-size:160%;
				color:$gold;
			}
			
			#picture{
				position:relative;
				margin-top: -12rem;
				z-index: 8000000000000;
				
				img {
					
					width:70%;
					margin: auto;
					
				}
			}
		}
		
	}
	
	
	#contactus{
		background-color: #616161;
		
		.container{
			grid-template-columns: 40% 50%;
			padding: 3rem 0;
			
			
				@media(max-width: 1200px) {
         width:100%;
		grid-template-columns: 100%;
						padding: 0;
}
			
			#data_contact{
				
				margin-right:5rem;
			}
			
			
			li{
				list-style: none;
				margin-bottom: 2rem;
				
				input{
					background-color: #616161;
					border-bottom:3px solid $gold;
					border-top:0;
					border-left:0;
					border-right:0;
					padding: 0.8rem;
					width:80%;
					font-size: 110%;
					color:#fff;

				}
				
				textarea{
					border-top:3px solid $gold;
					border-left:0;
					border-right:0;
					background-color:#504D4D;
					color:#fff;
					width:85%;
					height:380px;
					font-size: 120%;
				}
				
				input[type="submit"]{
					background-color:$gold;
					color:#000;
					width:auto;
					padding: 0.5rem 1rem;
					float:right;
					margin-right: 14%;
					
				}
			}
		}
	}
	
	
	footer{
		padding:8rem 0rem;
		
		#brand_footer{
			width:100%;
		}
		
		
		.container{
			grid-template-columns: 40% 20% 20% 30%;
			}
		#social{
			ul{
				float: right;
				li{
					float:left;
					list-style: none;
					margin: 0px;
					
					img{
						width:80%;
					}
				}
			}
		}
		
		#left-bottom{
			float: left;
			li{	
				list-style: none;
				a{
				color:#fff;
				}
			}
		}
		
		#right-bottom{
			float: left;
			li{	
				list-style: none;
				a{
				color:#fff;
				}
			}
		}
	}
	
}

/* css archive*/
	
	#banner_archive{
		overflow: hidden;
		width: 100%;
	max-height: 700px;
		img{
			width:100%;
			height: auto;
		}
	}

#geral_archive{
	margin-top: -10rem;
	position: relative;
	
	.migalha{
		
    /* float: right; */
    text-align: right;
    width: 1200px;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: -4rem;
    z-index: 40000000000000000;
    position: relative;

		}
	.container-top{
		width:1200px;
		display:grid;
		grid-template-columns: 50% 50%;
		margin: auto;
		
		
		h2{
		float:left;
	}
	.descri{
		float:right;
		text-align: right;
	}
	
		
		
	}
	
	
	#diagonal1{
		margin-top: -25rem;	
	}
	
	
	#archive_products{
		width:100%;
		background-color:#000;
		
		.container{
			display:grid;
			grid-template-columns: 25% 25% 25% 25%;
			padding: 1rem 0 5rem;
			
	@media(max-width: 1200px) {
         width:100%;
		grid-template-columns: 33% 33% 33%;
			
}
			
				@media(max-width: 800px) {
         width:100%;
		grid-template-columns: 50% 50%;
			
}
	@media(max-width: 500px) {
         width:100%;
		grid-template-columns: 100%;
			
}
	
		}
		
			figure{
					margin: 1rem 1.5rem;
				img{
						width:100%;
						height: auto;
					}
					
					figcaption{
						background-color: $gold;
						padding: 1rem;
						text-transform: uppercase;
						font-size:130%;
						text-decoration: none;
						color:#000;
						text-align: center;
						 margin-top: -5px;
						
						a{
							color:#000;
						}
					}
				}
	}
	
		
	
	
}

/* Single cristais*/


.banner_top{
		img{
		width:100%;
		}
	}
	

	#diagonal-content{
		position: relative;
		margin-top: -24rem;
		background-image: url(assets/images/divisao3.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: 5000000000;
		width: 100%;
		min-height: 25rem;
	    background-position: bottom;
					@media(max-width: 800px) {
				display: none
}
}
#main-cistais{
	
	.content_product{
		
		margin: 2rem auto 4rem;
	}
	
	.migalha{
		width:980px;
		display: block;
		text-align: left;
		margin: 0 auto 2rem;
	}
	
		h1{
		font-size: 280%;
		font-weight: 100;
		margin: 0;
		text-transform: uppercase;
		
		.small{
			color:$gold;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			font-size: 90%;
			margin-bottom: -10px;
			text-transform: none;
		}
		
		}
	
	h2{
			color:$gold;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			font-size: 130%;
			text-transform: none;
		}
	
	.container{
		display:grid;
		width:980px;
		grid-template-columns: 60% 40%;
		
							@media(max-width: 800px) {
		grid-template-columns: 50% 50%;
}
		@media(max-width: 500px) {
			grid-template-columns: 100%;
		}
	}
		
	#content_cristias{
	margin-right: 5rem;
		
	}
	
	#products-itens{
		background-color: #000;
				
 		.container{
			width:980px;
			margin: auto;
			display:grid;
			grid-template-columns: 25% 25% 25% 25%;
			
			figure{
				margin: 0.5rem 0.5rem 0;
				
				img{
					width:100%;
				}

				figcaption{
					background-color: $gold;
					padding: 1rem;
					text-align: center;
					margin-top: -0.5rem;
				
				}
			}
	}
		
	}
}

	