/* Scss Document */
body {
  background-color: #000;
  color: #FFF;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; }
  body header .container {
    display: grid;
    grid-template-columns: 15% 80% 5%; }
    body header .container #main_menu ul {
      margin: 0; }
      body header .container #main_menu ul li {
        list-style: none;
        float: left;
        margin-left: 1.6rem; }
        body header .container #main_menu ul li a {
          color: #fff;
          text-decoration: none; }
        body header .container #main_menu ul li a:hover {
          color: #C4A674;
          text-decoration: underline; }
          body header .container #main_menu ul li a:hover u {
            border-bottom: 5px solid #C4A674; }
  body #products {
    background-color: #E4E4E4;
    color: #333; }
