/* Scss Document */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-family: "futura-pt", "sans-serif";
  font-weight: 100; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: fff;
  font-family: "futura-pt", "sans-serif";
  font-weight: 100; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: fff;
  font-family: "futura-pt", "sans-serif";
  font-weight: 100; }

textarea {
  font-family: "futura-pt", "sans-serif";
  font-weight: 100;
  padding-right: 1rem; }

body {
  background-color: #000;
  color: #FFF;
  font-family: "futura-pt", "sans-serif";
  font-size: 110%;
  font-weight: lighter; }
  body .migalha {
    font-size: 90%; }
    body .migalha a {
      color: #C4A674; }
  body .container {
    display: grid;
    width: 1200px;
    margin: auto; }
    @media (max-width: 1200px) {
      body .container {
        width: 100%; } }
  body #diagonal1 {
    position: relative;
    margin-top: -24rem;
    background-image: url(assets/images/divisao1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 2000008;
    width: 100%;
    min-height: 25rem;
    background-position: bottom; }
    @media (max-width: 800px) {
      body #diagonal1 {
        display: none; } }
  body #diagonal2 {
    position: relative;
    margin-top: -13rem;
    background-image: url(assets/images/divisao2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 5000000000;
    width: 100%;
    min-height: 14rem;
    background-position: bottom; }
  body #diagonal3 {
    position: relative;
    margin-top: -24rem;
    background-image: url(assets/images/divisao1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 5000000000;
    width: 100%;
    min-height: 25rem;
    background-position: bottom; }
    @media (max-width: 800px) {
      body #diagonal3 {
        display: none; } }
  body a {
    text-decoration: none; }
  body h2 {
    font-size: 280%;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase; }
    body h2 .small {
      color: #C4A674;
      font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
      font-size: 90%;
      margin-bottom: -10px;
      text-transform: none; }
  body header {
    height: 130px;
    border-bottom: 5px solid #C4A674; }
    body header .container {
      grid-template-columns: 23% 72% 5%; }
      @media (max-width: 800px) {
        body header .container {
          grid-template-columns: 45% 50% 5%; } }
      body header .container #brand {
        overflow: hidden;
        padding: 1rem; }
        body header .container #brand img {
          width: 90%;
          height: auto;
          margin: auto; }
          @media (max-width: 800px) {
            body header .container #brand img {
              width: 70%; } }
        body header .container #brand h1 {
          margin-left: -2000px; }
      body header .container #main_menu ul {
        margin: 0;
        text-align: center;
        padding: 3rem; }
        body header .container #main_menu ul li {
          list-style: none;
          float: left;
          margin-left: 3rem; }
          body header .container #main_menu ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 120%;
            padding: 3.5rem 0; }
          body header .container #main_menu ul li a:hover {
            color: #C4A674;
            background-image: url(assets/images/hover_main_menu.png);
            background-repeat: repeat-x;
            background-position: bottom; }
            body header .container #main_menu ul li a:hover u {
              border-bottom: 5px solid #C4A674; }
      body header .container #language {
        padding: 3rem;
        margin: 0 auto; }
        @media (max-width: 800px) {
          body header .container #language {
            width: 90%; } }
  body #slideshow {
    z-index: 1; }
  body #about .container {
    grid-template-columns: 50% 40%;
    padding: 3rem 0 5rem;
    margin-top: -3rem; }
    @media (max-width: 800px) {
      body #about .container {
        grid-template-columns: 100%; } }
    body #about .container #taca {
      margin-top: -17rem;
      position: relative;
      z-index: 300000000000; }
      @media (max-width: 800px) {
        body #about .container #taca {
          display: none; } }
      body #about .container #taca img {
        width: 95%; }
    body #about .container .calltoaction {
      background-color: #C4A674;
      padding: 1rem 2rem;
      float: right;
      margin: 1rem 0; }
      body #about .container .calltoaction a {
        color: #fff; }
  body #products {
    background-color: #E4E4E4;
    color: #333; }
    body #products .container {
      padding: 0rem 0 21rem; }
      body #products .container .calltoaction {
        background-color: #000;
        padding: 1rem;
        color: #fff;
        margin: 2rem auto; }
        body #products .container .calltoaction a {
          color: #fff; }
      body #products .container .category_products {
        width: 1200px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: auto; }
        @media (max-width: 1200px) {
          body #products .container .category_products {
            width: 100%;
            grid-template-columns: 50% 50%; } }
        body #products .container .category_products .container {
          padding: 0;
          margin: 0 auto; }
        body #products .container .category_products figure {
          margin: 1rem 1.5rem; }
          body #products .container .category_products figure img {
            width: 100%;
            height: auto; }
          body #products .container .category_products figure figcaption {
            background-color: #C4A674;
            padding: 1rem;
            text-transform: uppercase;
            font-size: 130%;
            text-decoration: none;
            color: #000;
            text-align: center;
            margin-top: -4px; }
            body #products .container .category_products figure figcaption a {
              color: #000; }
  body #wherebuy .container {
    padding: 0rem 15rem 7rem;
    grid-template-columns: 50% 40%; }
    @media (max-width: 1200px) {
      body #wherebuy .container {
        width: 100%;
        grid-template-columns: 100%;
        padding: 0; } }
    body #wherebuy .container a {
      font-size: 160%;
      color: #C4A674; }
    body #wherebuy .container #picture {
      position: relative;
      margin-top: -12rem;
      z-index: 8000000000000; }
      body #wherebuy .container #picture img {
        width: 70%;
        margin: auto; }
  body #contactus {
    background-color: #616161; }
    body #contactus .container {
      grid-template-columns: 40% 50%;
      padding: 3rem 0; }
      @media (max-width: 1200px) {
        body #contactus .container {
          width: 100%;
          grid-template-columns: 100%;
          padding: 0; } }
      body #contactus .container #data_contact {
        margin-right: 5rem; }
      body #contactus .container li {
        list-style: none;
        margin-bottom: 2rem; }
        body #contactus .container li input {
          background-color: #616161;
          border-bottom: 3px solid #C4A674;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          padding: 0.8rem;
          width: 80%;
          font-size: 110%;
          color: #fff; }
        body #contactus .container li textarea {
          border-top: 3px solid #C4A674;
          border-left: 0;
          border-right: 0;
          background-color: #504D4D;
          color: #fff;
          width: 85%;
          height: 380px;
          font-size: 120%; }
        body #contactus .container li input[type="submit"] {
          background-color: #C4A674;
          color: #000;
          width: auto;
          padding: 0.5rem 1rem;
          float: right;
          margin-right: 14%; }
  body footer {
    padding: 2rem; }
    body footer .container {
      grid-template-columns: 25% 25% 25% 25%; }

/* css archive*/
#banner_archive {
  overflow: hidden;
  width: 100%;
  max-height: 700px; }
  #banner_archive img {
    width: 100%;
    height: auto; }

#geral_archive {
  margin-top: -10rem;
  position: relative; }
  #geral_archive .migalha {
    /* float: right; */
    text-align: right;
    width: 1200px;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: -4rem;
    z-index: 40000000000000000;
    position: relative; }
  #geral_archive .container-top {
    width: 1200px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto; }
    #geral_archive .container-top h2 {
      float: left; }
    #geral_archive .container-top .descri {
      float: right;
      text-align: right; }
  #geral_archive #diagonal1 {
    margin-top: -25rem; }
  #geral_archive #archive_products {
    width: 100%;
    background-color: #000; }
    #geral_archive #archive_products .container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      padding: 1rem 0 5rem; }
      @media (max-width: 1200px) {
        #geral_archive #archive_products .container {
          width: 100%;
          grid-template-columns: 33% 33% 33%; } }
      @media (max-width: 800px) {
        #geral_archive #archive_products .container {
          width: 100%;
          grid-template-columns: 50% 50%; } }
      @media (max-width: 500px) {
        #geral_archive #archive_products .container {
          width: 100%;
          grid-template-columns: 100%; } }
    #geral_archive #archive_products figure {
      margin: 1rem 1.5rem; }
      #geral_archive #archive_products figure img {
        width: 100%;
        height: auto; }
      #geral_archive #archive_products figure figcaption {
        background-color: #C4A674;
        padding: 1rem;
        text-transform: uppercase;
        font-size: 130%;
        text-decoration: none;
        color: #000;
        text-align: center;
        margin-top: -4px; }
        #geral_archive #archive_products figure figcaption a {
          color: #000; }

/* Single cristais*/
#diagonal-content {
  position: relative;
  margin-top: -24rem;
  background-image: url(assets/images/divisao3.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 5000000000;
  width: 100%;
  min-height: 25rem;
  background-position: bottom; }
  @media (max-width: 800px) {
    #diagonal-content {
      display: none; } }

#main-cistais h1 {
  font-size: 280%;
  font-weight: 100;
  margin: 0;
  text-transform: uppercase; }
  #main-cistais h1 .small {
    color: #C4A674;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 90%;
    margin-bottom: -10px;
    text-transform: none; }
#main-cistais h2 {
  color: #C4A674;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 130%;
  text-transform: none; }
#main-cistais .container {
  display: grid;
  width: 980px;
  grid-template-columns: 60% 40%; }
  @media (max-width: 800px) {
    #main-cistais .container {
      grid-template-columns: 50% 50%; } }
  @media (max-width: 500px) {
    #main-cistais .container {
      grid-template-columns: 100%; } }
#main-cistais #content_cristias {
  margin-right: 5rem; }
#main-cistais #products-itens {
  background-color: #000; }
  #main-cistais #products-itens .container {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6%; }
    #main-cistais #products-itens .container figure {
      margin: 0 1rem; }
      #main-cistais #products-itens .container figure img {
        width: 100%; }
      #main-cistais #products-itens .container figure figcaption {
        background-color: #C4A674;
        padding: 1rem;
        text-align: center; }
