/*resCarousel Css*/

.outt {
    display: none;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: -13px;
    width: 50px;
    height: 50px;
	background: transparent;
    border: none;
   
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right: -13px;;
    bottom: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
	background: transparent;
    border: none;
   
   
}
.rightRs img, .leftRs img{
	width:100%
}

.resCarousel {
    /*float: left;*/
    overflow: hidden;
    position: relative;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
    width: 100%;
    margin: auto;
}

.resCarousel-inner .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}

#fancybox-wrap{
	z-index: 40000000 !important;
}

/*banner*/

.banner {
    overflow: hidden !important;
}


/*tile css*/

.resCarousel-inner .item .tile {
    margin: 5px;
}


/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

@media (max-width: 767px) {
    .leftRs,
    .rightRs {
        /*display: none;*/
    }
    .resCarousel-inner {
        overflow-x: auto;
    }
}


/*resCarousel Css End*/